h1{
	text-align: center;
	margin: 20px 0px;
}
div{

}
.colum1{
	background-color: #67B3C9;
	border-bottom: 1px solid #444;
}
.colum2{
	background-color: #EEA0A0;
	border-bottom: 1px solid #444;
}
.colum3{
	background-color: #D999F4;
	border-bottom: 1px solid #444;
}
.colum4{
	background-color: #F5E38E;
	border-bottom: 1px solid #444;
}
.colum5{
	background-color: #81D969;
	border-bottom: 1px solid #444;
}
.colum6{
	background-color: #67B3C9;
	border-bottom: 1px solid #444;
}
.colum7{
	background-color: #EEA0A0;
	border-bottom: 1px solid #444;
}
.colum8{
	background-color: #D999F4;
	border-bottom: 1px solid #444;
}
.colum9{
	background-color: #F5E38E;
	border-bottom: 1px solid #444;
}
.colum10{
	background-color: #81D969;
	border-bottom: 1px solid #444;
}
.colum11{
	background-color: #EEA0A0;
	border-bottom: 1px solid #444;
}
.colum12{
	background-color: #EEA0A0;
	border-bottom: 1px solid #444;
}